asgiref==3.6.0
backports.zoneinfo==0.2.1;python_version<"3.9"
bootstrap4==0.1.0
boto3==1.26.99
botocore==1.29.99
certifi>=2023.07.22
cffi==1.15.1
charset-normalizer==3.1.0
cryptography>=41.0.2
django>=4.1.10
django-cors-headers==3.14.0
django-sslserver==0.22
idna==3.4
jmespath==1.0.1
posts==0.2.2
psycopg2-binary==2.9.5
pycparser==2.21
pyOpenSSL==23.1.1
python-dateutil==2.8.2
requests>=2.31.0
s3transfer==0.6.0
six==1.16.0
sqlparse>=0.4.4
urllib3==1.26.15
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
tzdata==2022.7
tzlocal==4.3
